* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  font-family: "Lato", sans-serif;
  display: grid;
  height: 270vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-gap: 2px;
  grid-template-areas:
    "aside header header"
    "aside section section"
    "aside footer footer";
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  grid-area: header;
  background-image: url("/img/sushi-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
  background-color: rgb(53, 52, 52);
  position: relative;
}

.social {
  position: fixed;
  top: 40%;
  left: 3%;
}

#logo {
  display: block;
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#logo h4 {
  color: rgb(228, 15, 15);
}

.area {
  grid-area: area;
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.social {
  grid-area: social;
  height: 10rem;
  width: 10rem;
}

.social a {
  display: block;
  position: center;
}
.section-triangeln {
  height: 100%;
  background-image: url("/img/nya-triangeln.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-varnhem {
  grid-area: section;
  background-image: url("/img/varnhem.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 22rem;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #0d275e;
  color: white;
}

.fa-instagram {
  background: #bb0303;
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  background-color: rgb(77, 70, 70);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

span {
  color: rgb(224, 226, 233);
  margin-left: 3rem;
  padding-top: 3rem;
  position: auto;
  position: fixed;
  width: 1rem;
  height: 1rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ebe2e2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(228, 15, 15);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

footer {
  grid-area: footer;
  display: flex;
}

.map-wrapper {
  grid-area: map-wrapper;
  background-color: aqua;
  height: auto;
  width: 50%;
}

.contact-wrapper {
  grid-area: contact-wrapper;
  background-color: rgb(53, 52, 52);
  color: rgb(189, 232, 252);
  text-align: center;
  height: auto;
  width: 50%;
  text-align: center;
  padding: 3rem;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
